.about {
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 50px;
  align-items: center;
  padding: 2rem;
  flex-wrap: wrap-reverse;
}

.left-about {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
}

.about-image {
  width: 400px;
}

@media (max-width: 600px) {
  .about-image {
    width: 250px;
  }
  .about{
    font-size: 14px;
    padding: 1rem;
  }
  .left-about{
    width: 70%;
  }
}