.home{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.heading{
  font-size: 32px;
}

.subheading{
  font-size: 20px;
  color: #32cdbd;
}

.buttons{
  display: flex;
  gap: 20px;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink {
  50% { border-color: transparent }
}

.typewriter {
  width: fit-content;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
  animation: typing 2s steps(30) 1, blink 0.7s step-end infinite;
}