.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  border-bottom: 1px solid #FFFFFF;
  padding: 2rem;
  /* height: 10px; */
}

.navbar-link {
  cursor: pointer;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: #32cdbd;
}