.projects {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 30px;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.project-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
}

.project {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 400px;
  height: fit-content;
  padding: 20px;
  border: 1px solid #ffffff;
  cursor: pointer;
  transition: all 0.3 ease;
}

.project:hover {
  top: -5px;
  transition: all 0.3 ease;
  box-shadow: rgba(255, 255, 255, 0.5) 0px 5px 15px;
}



@media (max-width: 600px) {
  .project {
    width: 80%;
  }
}